.splash-bg {
  min-height: 100vh;
}

.splash-title {
  text-align: center;
}

.splash-logo {
  margin: 20px auto;
  display: block;
  max-width: 100%;
}

.splash-login {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
